.user__account{
   padding-top: 10px;
   padding: 0px 36px;
}

.account__header{
   text-align: center;

   h1{
      font-size: 2rem;
      margin-bottom: 5px;
   }

   p{
      font-weight: 600;
      font-size: 1.5rem;
   }
}

.user__project{
   padding-top: 30px;

   .project__categories{
      margin-bottom: 25px;

      .categories__label{
         font-size: 13px;
         color: lightgray;
         margin-bottom: 10px;
         color: var(--clr-grey-4);
      }

      .categories__list{
         display: flex;
         gap: 10px;

         .category{

            figure{
               display: flex;
               align-items: center;

               img{
                  height: 40px;
                  width: 40px;
                  border-radius: 100%;
               }

               figcaption{
                  margin-left: 10px;
                  font-size: 1.2rem;
                  color: var(--clr-body);
               }
            }
         }
      }
   }

   .project__price{

      .price__label{
         font-size: 13px;
         color: lightgray;
         margin-bottom: 10px;
         color: var(--clr-grey-4);
      }
   }
}