.user__account{
   padding-top: 20px;
}

.account__header{
   text-align: center;

   h1{
      font-size: 2rem;
      margin-bottom: 5px;
   }

   p{
      font-weight: 600;
      font-size: 1.5rem;
   }
}