.authentification{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 32px;

   input{
      width: 100%;
      border: 1px solid #18242F;
      border-radius: 420px;
      padding: 12px 24px;
      outline: none;

      position: relative;

      &::after{
         content: "Email";
         position: absolute;
      }

      &:focus-within{
         border: 1px solid #FCD65C;
      }

      &::placeholder{
         color: #18242F;
      }
   }

   &__email{
      margin-bottom: 8px;
   }

   &__password{
      margin-bottom: 8px;
   }
}

