.authentification{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 32px;

   &__input{
      position: relative;
      width: 100%;
      margin-bottom: 8px;

      input{
         width: 100%;
         border: 1px solid #18242F;
         border-radius: 420px;
         padding: 12px 24px;
         outline: none;
         position: relative;
   
         &:focus-within{
            border: 1px solid #FCD65C;
         }
      }
   }

   button{
      background: linear-gradient(90deg, #FCD65C -0.08%, #EDB341 100.08%);
      border-radius: 420px;
      width: 100%;
      text-transform: uppercase;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      color: #18242F;
      margin-top: 8px;
   }
}

.authentification__other{
   display: flex;
   justify-content: center;
   padding-top: 32px;

   .or{
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      position: relative;
      background-color: #fff;
      padding: 0px 12px;

      &::after{
         content: "";
         width: 180px;
         height: 1px;
         background-color: #000;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%);
         z-index: -1;
      }
   }
}

.connexion__with {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 12px;

   ul{
      display: flex;
      gap: 8px;
   }

   button {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 3.2rem;
     height: 3.2rem;
     border-radius: 2.7rem;
     border: solid 1px var(--clr-body);
   }
 }

