.authentification{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 32px;

   div{
      position: relative;
      width: 100%;

      &::after{
         content: "Email";
         position: absolute;
         font-size: 1.4rem;
         left: 24px;
         top: 50%;
         transform: translateY(-50%);
      }
   }

   input{
      width: 100%;
      border: 1px solid #18242F;
      border-radius: 420px;
      padding: 12px 24px;
      outline: none;
      position: relative;

      &:focus-within{
         border: 1px solid #FCD65C;
      }

      &::placeholder{
         color: #18242F;
         font-size: 1.4rem;
         line-height: 1.4rem;
      }
   }

   &__email{
      margin-bottom: 8px;
   }

   &__password{
      margin-bottom: 8px;
   }

   button{
      background: linear-gradient(90deg, #FCD65C -0.08%, #EDB341 100.08%);
      border-radius: 420px;
      width: 100%;
      text-transform: uppercase;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      color: #18242F;
      margin-top: 8px;
   }
}

.authentification__other{
   
}

