.choiceCategory{

   .choiceCategory__header{
      padding: 32px;
      background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0.0802085) 100%);

      .header__back{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 40px;
         height: 40px;
         background: linear-gradient(90deg, #FCD65C -0.08%, #EDB341 100.08%);
         border-radius: 50px;
         margin-bottom: 32px;
      }

      .header__title{
         margin-bottom: 12px;
         font-weight: 500;
         font-size: 1.75rem;
         line-height: 30px;
      }

      .header__subtitle{
         font-weight: 400;
         font-size: .875rem;
         line-height: 16px;
         color: #828991;
      }
   }
}