.navbar {
  display: block;
  width: 100%;

  &__pages {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 1px 1px 10px var(--clr-grey);
    border-radius: var(--bd-radius);
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 100%;

    img {
      display: block;
      height: 3.2rem;
      width: auto;
    }
  }
}
