.navbar {
  display: block;
  width: 100%;
  margin-top: auto;

  &__pages {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 0.1rem 0.1rem 1rem var(--clr-grey);
    border-radius: var(--bd-radius);
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 100%;

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 0;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        content: "";
        display: block;
        height: 5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background: linear-gradient(
          90deg,
          var(--clr-yellow) -0.08%,
          #edb341 100.08%
        );
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      & > span {
        font-size: 3.2rem;
        color: var(--clr-body);
        transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &.icon-swipe {
          font-size: 2.5rem;
        }
      }

      &.active {
        &::after {
          opacity: 1;
        }

        & > span {
          color: white;
        }
      }
    }
  }
}
