.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  border-radius: 42rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  max-width: 32rem;
  width: 100%;

  &--yellow {
    background: linear-gradient(90deg, #fcd65c -0.08%, #edb341 100.08%);
  }

  &--border {
    outline: solid 1px var(--clr-body);

    &[data-toggle="true"] {
      outline-color: var(--clr-yellow);
      color: var(--clr-yellow);
    }
  }
}


.btnSwipe{

  border: 2px solid;
  border-radius: 100%;
  aspect-ratio: 1;
  width: 7rem;
  height: auto;

  &--declined{
    border-color: var(--clr-body);
    img{
      width: 2.8rem;
      height: auto;
    }
  }

  &--accept{
    border-color: var(--clr-yellow);
  }
}

