.card {
  position: absolute;
  width: 100%;
  padding: 1.6rem;
  transition: 0.3s linear visibility,
    0.5s opacity cubic-bezier(0.075, 0.82, 0.165, 1),
    0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
  z-index: 1;

  &__legende {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 2.4rem;
    gap: 1.6rem;

    &--overlay {
      padding: 0;
      box-shadow: none;
    }
  }

  &__etoiles {
    display: flex;
    gap: 0.2rem;

    &:after {
      content: "";
      width: 0.1rem;
      height: auto;
      background-color: var(--clr-body);
      margin: 0rem 1rem;
    }
  }

  &__prix {
    span {
      font-size: var(-fs-body-s);
      color: var(--clr-yellow);
      line-height: 1;
    }
  }

  &__profil {
    display: grid;
    align-items: center;
    gap: 3.2rem 0;
  }

  &__profilPic {
    border-radius: 100%;
    width: 7.5rem;
    height: 7.5rem;
    justify-self: self-end;
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    gap: 0.4rem;

    & > span {
      display: flex;
      align-items: center;
    }
  }

  &__description {
    grid-column: 1/3;
    grid-row: 2;
    font-size: var(--fs-body-xs);
    font-weight: var(--fw-body-s);
  }

  &__title {
    font-weight: var(--fw-body-m);
    font-size: var(--fs-body);
  }

  &__ville {
    font-weight: var(--fw-body-s);
    color: var(--clr-body);
    opacity: 0.5;
    font-size: var(--fs-body-xs);
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__slider {
    height: 35vh;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__iconeI {
    border: 1.5px solid var(--clr-body);
    border-radius: 100%;
    width: 4rem;
    color: var(--clr-body);
    aspect-ratio: 1;
    font-size: 2.4rem;
    justify-self: self-end;
    font-weight: 600;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    min-height: 100vh;
    min-height: 100dvh;
    display: none;
    flex-direction: column;
    gap: 3.2rem;
    z-index: 10;
    padding: 3rem;

    &--open {
      display: flex;
    }
  }

  &__closeOverlay {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
  }

  &__tarifsItem {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-body-xs);
    padding-bottom: 0.8rem;

    p {
      font-weight: var(--fw-body-s);
    }
  }

  &__metiers {
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      p {
        display: flex;
        align-items: center;
        font-size: var(--fs-body-xs);
        font-weight: var(--fw-body-s);
        color: var(--clr-body);

        &::after {
          content: "";
          display: inline-block;
          width: 0.1rem;
          height: 100%;
          background: var(--clr-body);
          margin-left: 1rem;
        }
      }
    }
  }

  &__contact {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;

      p {
        font-size: var(--fs-body-xs);
        font-weight: var(--fw-body-s);

        img {
          margin-right: 0.8rem;
        }
      }
    }
  }

  &__section {
    text-align: center;
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      width: 10rem;
      height: 0.1rem;
      display: block;
      background-color: var(--clr-yellow);
      margin: auto;
    }

    h3 {
      font-size: var(-fs-body-s);
      font-weight: var(--fw-body-m);
      margin: 3rem 0;
    }
  }

  &__content {
    box-shadow: 0.1rem 0.1rem 1rem var(--clr-grey);
    border-radius: 20px;
    overflow: hidden;
    & > div {
      position: relative;
      z-index: 0;
      background-color: white;
      border-radius: 20px 20px 0 0;
    }
  }

  &--left {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%) rotate(-30deg);
  }

  &--right {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%) rotate(30deg);
  }
}
