@use "../utils/responsive" as query;

:root {
  --ff-body: "", sans-serif;
  --ff-headings: "", sans-serif;

  --fs-body: "value";
  --fs-headings: "value";
  --fs-btn: "value";
  --lh-body: "value";
  --fw-body: "value";

  @include query.at-max("md") {
    --fs-body: "value";
    --fs-headings: "value";
    --fs-btn: "value";
  }
}
