*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  color: var(--clr-body);
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  font-family: var(--ff-body);
}
