:root {
  --clr-body: #18242f;
  --clr-grey: #e7e7e7;
<<<<<<< HEAD
  --clr-grey-4:#828990;
  --clr-yellow:#FCD65C;
  --clr-green:#418F45;
=======
  --clr-yellow: #fcd65c;
  --clr-grey-400: #fafafa;
>>>>>>> main
}
