.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__containerBtn {
    display: flex;
    justify-content: center;
    gap: 5.6rem;
  }

  &__cards {
    display: block;
    width: 50rem;
    height: 47.7rem;
    margin: 0 auto;
    position: relative;
    max-width: 50rem;
    width: 100%;
  }
}
