.choiceCategory {
  overflow: hidden;

  .categories {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 3.2rem 3.5rem;
    justify-content: center;

    .category {
      .button {
        position: relative;

        img {
          width: 13rem;
          height: 13rem;
          border-radius: 50%;
          margin-bottom: 1rem;
          border: solid 0.3rem #fff;
        }

        p {
          font-weight: var(--fw-body);
          font-size: 1.6rem;
        }

        &--active {
          img {
            border: solid 0.3rem var(--clr-yellow);
          }

          &::after {
            content: "";
            height: 3rem;
            width: 3rem;
            background: var(--clr-yellow);
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            border-radius: 10rem;
          }
        }
      }
    }
  }

  .btn.choiceCategory__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 6.4rem;
    gap: 0.8rem;
    background: linear-gradient(90deg, var(--clr-yellow) -0.08%, #edb341 100.08%);
    border-radius: 20rem;
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
  }
}
