.categories__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 1.6rem;

  .head__title {
    font-weight: var(--fw-body-m);
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .head__link {
    font-weight: var(--fw-body);
    font-size: var(--fs-body-xs);
    line-height: 1.6rem;
    text-decoration-line: underline;
    color: var(--clr-grey-4);
  }
}

.budget__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 3.2rem;

  .head__title {
    font-weight: var(--fw-body-m);
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .head__link {
    font-weight: var(--fw-body);
    font-size: var(--fs-body-xs);
    line-height: 1.6rem;
    text-decoration-line: underline;
    color: var(--clr-grey-4);
  }
}

.description__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 1.6rem;

  .head__title {
    font-weight: var(--fw-body-m);
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .head__link {
    font-weight: var(--fw-body);
    font-size: var(--fs-body-xs);
    line-height: 1.6rem;
    text-decoration-line: underline;
    color: var(--clr-grey-4);
  }
}
.categories__container {
  display: flex;
  flex-direction: row;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 1.6rem;

  .container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.8rem;

    .card__image {
      width: 4.3rem;
      height: 4.3rem;
      border-radius: 5rem;
    }
    .card__text {
      font-weight: var(--fw-body);
      font-size: var(--fs-body-xs);
      line-height: 1.6rem;
    }
  }
}
.budget__selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  border: solid 0.1rem var(--clr-grey);
  border-radius: 50px;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 1.6rem;

  .selection__prix {
    font-weight: var(--fw-body-m);
    font-size: var(--fs-body);
    line-height: 24px;
  }
}

.connexion__choises {
  position: sticky;
  margin-top: 2rem;
  bottom: 1rem;
  display: flex;
  justify-content: center;

  .btn__content {
    margin: auto;
  }
}
.description__container {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
  margin-left: 3.2rem;
  margin-right: 3.2rem;

  .description__textarea {
    resize: none;
    width: 100%;
    height: 20vh;
    border-radius: 25px;
    border: solid 0.1rem var(--clr-grey);
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: var(--fw-body);
    font-size: 1.6rem;
    line-height: 20px;
    font-family: "MadeTommy";
  }
}
